.header {
	.size(100%, 600px);

	background: @swatchGray;

	.box-shadow(0 1px 2px 2px #121);
}



.footer {
	.size(100%, 300px);
	position: absolute;
	bottom: 0;

	background: @swatchPurple;

	.box-shadow(0 -1px 2px 1px #444);
}